In [2]:
import numpy as np
arr=np.array([15,20,22,18,17,15,12])

In [8]:
meann=arr.mean()

In [7]:
minn=arr.min()

In [6]:
maxx=arr.max()

In [9]:
(arr-meann)/(maxx-minn)

array([-0.2,  0.3,  0.5,  0.1,  0. , -0.2, -0.5])

In [11]:
np.random.randint(35,75,15)

array([67, 37, 74, 64, 49, 70, 56, 48, 71, 73, 67, 51, 48, 63, 71])

In [24]:
arr1=np.array([67, 37, 74, 64, 49, 70, 56, 48, 71, 73, 67, 51, 48, 63, 75])

In [25]:
#60 67

In [26]:
import statistics

In [27]:
statistics.median(arr1)

64

In [28]:
import pandas as pd

In [29]:
data=pd.read_csv('ads.csv')

In [30]:
data.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [31]:
(5/9)*(4/8)

0.2777777777777778

In [33]:
(4/9)*(5/8)

0.2777777777777778

In [35]:
sunny_yes=(9/14)*(2/9)

In [36]:
sunny_no=(5/14)*(3/5)

In [37]:
sunny_no

0.21428571428571427

In [38]:
sunny_yes

0.14285714285714285

In [39]:
den=sunny_no+sunny_yes

In [40]:
sunny_yes/den

0.4

In [41]:
sunny_no/den

0.6000000000000001