In [ ]:
#Print user input as it is
a=input("Input here")
print(a)

Take first and last name input from the user, print the following output
Hello, first last! Are you enjoying learning python?

In [6]:
first = input ("Enter FirstName: ")
last = input ("Enter LastName: ")
print (f'Hello, {first} {last}! Are you enjoying learning pyhton?')
print('Hello, {} {}! Are you enjoying learning pyhton?'.format(first,last))
print("Hello,",first,last,'! Are you enjoying learnig python?')

Enter FirstName: yash
Enter LastName: g
Hello, yash g! Are you enjoying learning pyhton?
Hello, yash g! Are you enjoying learning pyhton?
Hello, yash g ! Are you enjoying learnig python?

In [ ]:
#Given two numeric inputs from the user, print the average 
num1, num2
result=(num1+num2)/2
print(result)

In [7]:
a= int(input("Num1"))
b= int(input("Num2"))
result = (a+b)/2
print(result)

Num152
Num278
65.0

In [ ]:
#Given two numeric inputs from the user, print the sum, product and difference
n1,n2
sum n1+n2
prod n1*n2
diff n1-n2

In [8]:
a = int(input("Enter the 1st no.: "))
b = int(input("Enter the 2nd no.: "))
print(a,b)
print (a+b)
print (a*b)
print (a-b)

Enter the 1st no.: 65
Enter the 2nd no.: 456
65 456
521
29640
-391

In [10]:
a=int(input("num1"))
b= int(input("num2"))
print(a+b)

num145
num2852
897

In [ ]:
#Given a user input radius, compute the area of the circle
r
3.14*r*r

In [11]:
r = float(input("Enter the radius: "))
print(3.14*r*r)

Enter the radius: 45
6358.500000000001

In [ ]:
#Given user input base and height, calculate area of the traingle
0.5*base*height

In [12]:
b = float(input("Enter the base of triangle: "))
h = float(input("Enter the height of triangle: "))

print(0.5*b*h)

Enter the base of triangle: 986
Enter the height of triangle: 564
278052.0

Given user input len and breadth of rectangle, calculate area
len, breadth
len*bred
2*(len+bred)

In [13]:
a= float(input("Enter lenght"))
b= float(input("Enter breadth"))
print(a*b)
perimeter=2*(a+b)
print(perimeter)

Enter lenght85
Enter breadth45
3825.0
260.0

In [14]:
a= float(input("length of rectangle: "))
b= float(input(" breadth of rectangle: "))
print(2*(a+b))

length of rectangle: 85
 breadth of rectangle: 52
274.0

In [ ]:
input
swapcase
print

a=123
a=234
type(a)
b=25.262
type(b)
c='hello'
type(c)
d=[1,2,4]
type(d)
e='23'
type(e)
f=int(e)
type(f)
m=int(input())
n=input()
p=int(n)

In [22]:
a=input('Input')
print(a.swapcase())

InputDigiTAL NaLaNDa
dIGItal nAlAndA

In [24]:
#string
a='Machine Learning and Data Science'
a.split(' ')

['Machine', 'Learning', 'and', 'Data', 'Science']

In [25]:
a=input('Input')
b=a.split()
print(b)

InputDigital Nalanda is an amazing platform
['Digital', 'Nalanda', 'is', 'an', 'amazing', 'platform']