In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Cars_data.csv')

In [4]:
df.sample(5)

      Unnamed: 0           Make    Price  Year  Kilometer Fuel Type
423          423  Mercedes-Benz  8500000  2019      13000    Diesel
2001        2001           Jeep  1250000  2018      90000    Diesel
734          734           Audi  1800000  2014      76529    Diesel
421          421           Tata   890000  2018      35000    Petrol
1407        1407           Ford   575000  2019      71569    Diesel

In [11]:
df['Make'].value_counts()
df.shape

(2059, 6)