In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [10]:
data=pd.read_csv('loan.csv')

In [11]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [12]:
data.shape

(614, 13)

In [13]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [15]:
data.dropna(inplace=True)

In [16]:
data.shape

(480, 13)

In [17]:
data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [18]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [21]:
data['Property_Area'].unique()

array(['Rural', 'Urban', 'Semiurban'], dtype=object)

'Female','Male','Yes','No','Graduate', 'Not Graduate','3+','Rural', 'Urban', 'Semiurban','Y','N'

1,0,1,0,1,0,3,0,2,1,1,0

In [25]:
data.replace(to_replace=['Female','Male','Yes','No','Graduate', 'Not Graduate','3+','Rural', 'Urban', 'Semiurban','Y','N'],
    value=[1,0,1,0,1,0,3,0,2,1,1,0],inplace=True)

In [33]:
data.replace(to_replace=['1','0','2'],value=[1,0,2],inplace=True)

In [34]:
data['Dependents'].unique()

array([1, 0, 2, 3], dtype=int64)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    int64
 2   Married            480 non-null    int64
 3   Dependents         480 non-null    int64
 4   Education          480 non-null    int64
 5   Self_Employed      480 non-null    int64
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    float64
 8   LoanAmount         480 non-null    float64
 9   Loan_Amount_Term   480 non-null    float64
 10  Credit_History     480 non-null    float64
 11  Property_Area      480 non-null    int64
 12  Loan_Status        480 non-null    int64
dtypes: float64(4), int64(8), object(1)
memory usage: 52.5+ KB

In [ ]:
X=[]

In [39]:
X=data.iloc[:,1:-1]
y=data.iloc[:,-1]

In [40]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=10)

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [42]:
lr=LogisticRegression()
dt=DecisionTreeClassifier()
rf=RandomForestClassifier()
sv=SVC()

In [43]:
lr.fit(X_train,y_train)
dt.fit(X_train,y_train)
rf.fit(X_train,y_train)
sv.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

SVC()

In [44]:
ypred_lr=lr.predict(X_test)
ypred_dt=dt.predict(X_test)
ypred_rf=rf.predict(X_test)
ypred_sv=sv.predict(X_test)

In [47]:
print('Accuracy score for LR is ',accuracy_score(y_test,ypred_lr))
print('Accuracy score for DT is ',accuracy_score(y_test,ypred_dt))
print('Accuracy score for RF is ',accuracy_score(y_test,ypred_rf))
print('Accuracy score for SVM is ',accuracy_score(y_test,ypred_sv))

Accuracy score for LR is  0.8083333333333333
Accuracy score for DT is  0.7916666666666666
Accuracy score for RF is  0.8166666666666667
Accuracy score for SVM is  0.7